﻿@model List<TestProject.Models.Order>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Customer.CustomerId</td>
                <td>@order.OrderId</td>
                <td>@order.TotalPrice</td>
            </tr>
        }
    </table>
</div>

<script>
    $.ajax
        ({
            type: 'Post',
            url: 'api/GetCustomers/',

            data: {},

            beforeSend: function (data) {
                $body.addClass("loading");
            },
            success: function (data) {
                if ($.trim(data)) {
                    for (var i = 0; i < data.length; i++) {
                        $("#mujObjekt").append(data[i].CustomerId + "-" + data[i].FistName + "-" + data[i].SureName);
                    }
                }
            },
        };
</script>

<script>
    var customerId = 5;
    $.ajax
        ({
            type: 'Post',
            url: 'api/GetCustomer/',

            data: { customerId: customerId },

            beforeSend: function (data) {
                $body.addClass("loading");
            },
            success: function (data) {
                if ($.trim(data)) {
                        $("#mujObjekt").append(data.CustomerId + "-" + data.FistName + "-" + data.SureName);
                }
            },
        });
</script>