﻿@model TestProject.Models.Customer
@{
    ViewBag.Title = "SupplierOrders";
}

<div>
   <h2>id uživatele: @Model.CustomerId</h2>
    <h3>Jméno: @Model.FirstName</h3>
    <h3>Příjmení: @Model.SureName</h3>
</div>

